<div class="{{styles.dialog_block }}">
  <div class="{{styles.dialog_header}}">
    <div class="{{styles.dialog_info}}">
      {{{avatar}}}
      <p>{{name}}</p>
    </div>
    <div class="{{styles.header_tools}}"></div>
  </div>
  <div class="{{styles.dialog_container }}">
    <p class="{{styles.dialog_date}}">{{date}}</p>
    {{{messageFrom}}}
    {{{messageTo}}}
  </div>
  <div class="{{styles.dialog_input}}">
    <button class="{{styles.button_attach}}"><img src="{{img}}" alt="btn-attach"></button>
    {{{input}}}
    {{{button}}}
  </div>
</div>