<div class="{{headerClass}}">
  <div class="{{infoClass}}">
    {{{avatar}}}
    <p>{{name}}</p>
  </div>
  <div class="{{toolsClass}}"></div>
</div>
<div class="{{containerClass}}">
  <p class="{{dateClass}}">{{date}}</p>
  {{{messegeFrom}}}
  {{{messegeTo}}}
</div>
<div class="{{inputBlockClass}}">
  <button class="{{btnClass}}"><img src="{{img}}" alt="btn-attach"></button>
  {{{input}}} 
  {{!-- <input placeholder="Сообщение" class="{{inputClass}}"> --}}
  {{{button}}}
</div>