<form class="{{styles.form}}" name="{{name}}">
  <div class="{{class}}">
    {{{inputEmail}}}
    <p data-name="email" class={{styles.valid_message}}>латиница, может включать цифры и спецсимволы вроде дефиса,
      обязательно должна быть «собака» (@) и точка после неё, но перед точкой обязательно должны быть буквы.</p>
    {{{inputLogin}}}
    <p data-name="login" class={{styles.valid_message}}>от 3 до 20 символов, латиница, может содержать цифры, но не
      состоять из них, без пробелов, без спецсимволов (допустимы дефис и нижнее подчёркивание)</p>
    {{{inputFirstName}}}
    <p data-name="first_name" class={{styles.valid_message}}>латиница или кириллица, первая буква должна быть заглавной,
      без пробелов и без цифр, нет спецсимволов (допустим только дефис).</p>
    {{{inputSecondName}}}
    <p data-name="second_name" class={{styles.valid_message}}>латиница или кириллица, первая буква должна быть
      заглавной, без пробелов и без цифр, нет спецсимволов (допустим только дефис).</p>

    {{{inputDisplayName}}}

    {{{inputPhone}}}
    <p data-name="phone" class={{styles.valid_message}}>от 10 до 15 символов, состоит из цифр, может начинается с плюса.
    </p>

    {{{inputOldPass}}}

    {{{inputPass}}}
    <p data-name="password" class={{styles.valid_message}}>от 8 до 40 символов, обязательно хотя бы одна заглавная буква
      и цифра.
    </p>
    {{{inputPassRpt}}}
    <p data-name="passwordrpt" class={{styles.valid_message}}>Пароли не совпадают</p>
  </div>
  {{{button}}}
</form>