<li class="{{styles.list_item}}">
  {{{avatar}}}
  <div class="{{styles.item_content }}">
    <p class="{{styles.user_name}}">{{from}}</p>
    <p class="{{styles.user_messege}}">{{lastMessage}}</p>
  </div>
  <p class="{{styles.item_date}}">{{date}}</p>
</li>