<div class="{{listBlockClass}}">
  <div class="{{linkClass}}">
    {{{link}}}
  </div>
  <input class="{{inputClass}}" placeholder="Поиск">
  <ul class="{{listClass}}">
    {{{chatList}}}
  </ul>
</div>
{{{chatDialog}}}