<div class="{{styles.wrapper}}">
  <div class="{{styles.list_block}}">
    <div class="{{styles.link}}">
      {{{link}}}
    </div>
    <input class="{{styles.search_input}}" placeholder="Поиск">
    <ul class="{{styles.chat_list}}">
      {{{chatList}}}
    </ul>
  </div>
  {{{chatDialog}}}
</div>