<div class="{{wrapperClass}}">
  <div class="{{listBlockClass}}">
    <div class="{{linkClass}}">
      <a href="{{link}}">Профиль ></a>
    </div>
    <input class="{{inputClass}}" placeholder="Поиск">
    <ul class="{{listClass}}">
      {{{chatList}}}
    </ul>
  </div>
  <div class="{{dialogBlockClass}}">
    {{{chatDialog}}}
  </div>
</div>