<form class="{{formClass}}">
  <div class="{{inputGroupClass}}">
    {{{inpteml}}}
    {{{inptlgn}}}
    {{{inptfrstnme}}}
    {{{inptsecnme}}}
    {{{inptnumb}}}
    {{{inptpass}}}
    {{{inptpassrpt}}}
  </div>
  {{{button}}}
</form>
{{{link}}}