<div class="{{blockClass}} {{extraBlockClass}}" >
  <label for="{{id}}">{{label}}</label>
  <input 
    class="{{inputClass}} " 
    type="{{type}}" 
    name ="{{name}}"
    id="{{id}}"
    placeholder="{{placeholder}}"
    {{disabled}}>
</div>


