<div class="{{styles.wrapper}}">
  <div class="{{styles.block}}">
    <h1 class="{{styles.title}}">{{title}}</h1>
    {{{form}}}
    <div class="{{styles.link_block}}">
      {{{link}}}
    </div>
  </div>
</div>