<div class="{{wrapperClass}}">
  <div class="{{blockClass}}">
    <h1 class="{{titleClass}}">{{title}}</h1>
    <form class="{{formClass}}" action="{{action}}">
      <div class="{{inputGroupClass}}">
        {{{content}}}
      </div>
      {{{button}}}
    </form>
    {{{link}}}
  </div>
</div>