<div class="{{leftBlockClass}}">
  {{{link}}}
</div>
<div class="{{rightBlockClass}}">
  {{{avatar}}}
  <h2 class="{{displayNameClass}}">{{displayname}}</h2>
  {{{profileForm}}}

  {{{changeData}}}
  {{{changePass}}}
  {{{quit}}}
</div>