<div class="{{styles.wrapper}}">
  <div class="{{styles.back_block}}">
    {{{link}}}
  </div>
  <div class="{{styles.profile_block}}">
    {{{avatar}}}
    <h2 class="{{styles.display_name}}">{{displayname}}</h2>
    {{{form}}}
    {{{changeData}}}
    {{{changePass}}}
    {{{quit}}}
  </div>
</div>