<div class="{{wrapperClass}}">
  <div class="{{leftBlockClass}}">
    <a href="http://localhost:3000/chat" class="{{className}}"> < </a>
  </div>
  <div class="{{rightBlockClass}}">
    {{{content}}}
    {{{controls}}}
  </div>
</div>