<li class="{{styles.list_item}} {{#if isSelected }}{{ styles.selected }}{{/if}}">
  {{{avatar}}}
  <div class="{{styles.item_content}}">
    <p class="{{styles.user_name}}">{{title}}</p>
    <p class="{{styles.user_messege}}">{{last_message.content}}</p>
  </div>
  <p class="{{styles.item_date}}">{{date}}</p> 
</li>