{{{avatar}}}
<h2 class="{{displayNameClass}}">{{displayname}}</h2>
<form class="{{formClass}}" action="{{action}}">
  {{{inputeml}}}
  {{{inputlgn}}}
  {{{inputfrstnme}}}
  {{{inputsecnme}}}
  {{{inputdsplnme}}}
  {{{inputphnum}}}
  {{{inputoldpass}}}
  {{{inputnewpass}}}
  {{{inputnewpassrt}}}
  {{{button}}}
</form>