{{{avatar}}}
<h2 class="{{displayNameClass}}">{{displayname}}</h2>
<form class="{{formClass}}">
  {{{inputeml}}}
  {{{inputlgn}}}
  {{{inputfrstnme}}}
  {{{inputsecnme}}}
  {{{inputdsplnme}}}
  {{{inputphnum}}}
  {{{inputoldpass}}}
  {{{inputnewpass}}}
  {{{inputnewpassrt}}}
</form>