<div class="{{blockClass}}">
  <input class="{{inputClass}}" type="{{type}}" name ="{{name}} "id="{{id}}" placeholder="{{placeholder}}" {{disabled}}>
  <label for="{{id}}">
    <div class="{{labelClass}}"></div>
  </label>
</div>


