<li class="{{itemClass}}">
  {{{avatar}}}
  <div class="{{contentClass}}">
    <p class="{{nameClass}}">{{from}}</p>
    <p class="{{msgClass}}">{{lastMessege}}</p>
  </div>
  <p class="{{timeClass}}">{{time}}</p>
</li>