<div class="{{headerClass}}">
  <div class="{{infoClass}}">
    {{{avatar}}}
    <p>{{name}}</p>
  </div>
  <div class="{{toolsClass}}"></div>
</div>
<div class="{{containerClass}}">
  {{{msg}}}
  {{{messege}}}
</div>
<div class="{{inputBlockClass}}">
  <button class="{{btnClass}}"><img src="{{img}}" alt="btn-attach"></button>
  <input placeholder="Сообщение" class="{{inputClass}}">
  <button class="{{className}}"> ></button>
</div>